div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1em 2em;
}

textarea {
  border: 1px solid gray;
  background-color: #eee;
}

#view {
  margin: 1em 0;
}

.post {
  margin: 2em 0;
}

.number {
  margin-right: 0.5em;
  color: blue;
  font-weight: bold;
}

.time {
  margin: 0 0.5em;
}

.host {
  margin-left: 0.5em;
  color: silver;
}

.content {
  padding: 0em;
  padding-left: 2em;
}
