div {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 1em 2em;
  height: 100%;
}

textarea {
  border: 1px solid gray;
  background-color: #eee;
}

#teacher_view {
  margin: 4em 0;

  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y:auto;
}

#column-container {
  position: absolute;
  top: 200px;
  bottom: 100px;
}
.column {
  height: 100%;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.left_view {
  margin: 4em 0;

  height: 100%;
  overflow-x: hidden;
  overflow-y:auto;
}
.left_view_title {
  margin: 1em 0;
}

.center_view {
  margin: 1em 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y:auto;
}
.center_view_title {
  margin: 1em 0;
}

#radio_button label {
  display: inline-block;
  width: 50px;
}

.text_form {
  float: left;
  margin-right: 30px;
}

.post {
  margin: 2em 0;
}

.number {
  margin-right: 0.5em;
  color: blue;
  font-weight: bold;
}

.time {
  margin: 0 0.5em;
}

.host {
  margin-left: 0.5em;
  color: silver;
}

.content {
  padding: 0em;
  padding-left: 2em;
}
